@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter Var';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/InterVariable.woff2) format('woff2');
  }
}
